<div class="calculator">
<form id="calculatorDatasets" onload="displayDatasets()">
  <table>
  <tr><td>
   <table>
  <tr><td>
  <table>
  <tr><td>
  <div align="left"><b><i>underscore-calculator - datasets</i></b></div>
  <table border="1">
  <tr>
  <td>
  <table>
  <tr>
  <td width="516"><input type="button" id="dataset-0" class="registers" onClick="selectReg('0')" value=""/></td>
  </tr>
  <tr>
  <td><input id="dataset-1" type="button" class="registers" value=""/></td>
  </tr>
  <tr>
  <td><input id="dataset-2" type="button" class="registers" value=""/></td>
  </tr>
  <tr>
  <td><input id="dataset-3" type="button" class="registers" value=""/></td>
  </tr>
  <tr>
  <td><input id="dataset-4" type="button" class="registers" value=""/></td>
  </tr>
  <tr>
  <td><input id="dataset-5" type="button" class="registers" value=""/></td>
  </tr>
  <tr>
  <td><input id="dataset-6" type="button" class="registers" value=""/></td>
  </tr>
  <tr>
  <td><input id="dataset-7" type="button" class="registers" value=""/></td>
  </tr>
  <tr>
  <td><input id="dataset-8" type="button" class="registers" value=""/></td>
  </tr>
  <tr>
  <td><input id="dataset-9" type="button" class="registers" value=""/></td>
  </tr>
  </table>
  </td></tr>
  </table>  
  </td></tr>
  </table>
  </td>
  <td>
    <table>
    <tr>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
    </tr>
    <tr>
      <td width="100"><input type="button" name="up" class="buttons" value="up" onClick="callFunc('up')"/></td>
      <td width="100"><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="down" class="buttons" value="down" onClick="callFunc('down')"/></td>
      <td><input id="record" type="button" name="" class="buttons" value="" onClick="calcrecord('')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="new" class="buttons" value="new" onClick="callFunc('new')"/></td>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="return" class="buttons" value="return" onClick="callFunc('return')"/></td>
      <td><input id="record" type="button" name="" class="buttons" value="" onClick="calcrecord('')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
      <td><input type="button" name="" class="buttons" value="" onClick="callFunc('')"/></td>
    </tr>
    </table>
  </td>
  </tr>
  </table>
  </td>
  </tr>
  </table>
</form>

<script>
displayDatasets();


function displayDatasets() {

  document.getElementById("dataset-0").value = "sample";
}

function display2() {
  var calculator = JSON.parse('{{{ data }}}');

  if (calculator.requestInProgress) {
    if (calculator.getResponseCount >= 30) {
      document.getElementById("dataset-0").value = "recall failed";
    } else {
      document.getElementById("dataset-0").value = "loading...";
      setTimeout(function () {
        var newpage = "/underscore-calculator/getresponse/default?input=display-list-store";
        window.location.assign(newpage);
      }, 1000);
    }
  } else {
    document.getElementById("dataset-0").value = "result complete";
  }

}


function callFunc(operation) {
    var newpage = "/underscore-calculator/calculate/" + operation + "?input=" + document.getElementById("input").value;
    window.location.assign(newpage);
}

function selectReg(regNum) {
    var newpage = "/underscore-calculator/recall/" + document.getElementById("dataset-" + regNum).value;
    window.location.assign(newpage);
}


</script>
</div>