<form id="calculator" onload="myFunction()">
  <br/>
  <table border="1">
  <tr><td>
  <div align="center"><b>underscore-calculator</b></div>
  <table>
  <tr>
  <td width="516"><input type="button" id="register-3" class="registers" value=""/></td>
  </tr>
  <tr>
  <td><input id="register-2" type="button" class="registers" value=""/></td>
  </tr>
  <tr>
  <td><input id="register-1" type="button" class="registers" value=""/></td>
  </tr>
  <tr>
  <td><input id="register-0" type="button" class="registers" value=""/></td>
  </tr>
  <tr>
  <td>
  <table width="100%">
  <tr><td>
    <input id="input" class="buttons" value=""/>
  </td><td width="25"><img src="/images/add.png"/ width="25" height="25"></td></tr>
  </table>
  </td>
  </tr>
  </table>
  </td></tr>
  <tr><td>
  <table>
    <tr>
      <td width="100"><input type="button" name="play" class="buttons" value="play" onClick="calcrecord('play')"/></td>
      <td width="100"><input id="record" type="button" name="record" class="buttons" value="record" onClick="calcrecord('record')"/></td>
      <td width="100"><input type="button" name="x-y" class="buttons" value="x-y" onClick="calc('x-y')"/></td>
      <td width="100"><input type="button" name="clear" class="buttons" value="clear" onClick="calc('clear')"/></td>
      <td width="100"><input type="button" name="get-rec" class="buttons" value="get-rec" onClick="calc('get-rec')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="recall" class="buttons" value="recall" onClick="calcstore('recall')"/></td>
      <td><input type="button" name="store" class="buttons" value="store" onClick="calcstore('store')"/></td>
      <td><input type="button" name="r-down" class="buttons" value="r-down" onClick="calc('r-down')"/></td>
      <td><input type="button" name="up" class="buttons" value="up" onClick="calc('up')"/></td>
      <td><input type="button" name="set-rec" class="buttons" value="set-rec" onClick="calc('set-rec')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="min" class="buttons" value="min" onClick="calc('min')"/></td>
      <td><input type="button" name="mix" class="buttons" value="max" onClick="calc('max')"/></td>
      <td><input type="button" name="left" class="buttons" value="left" onClick="calc('left')"/></td>
      <td><input type="button" name="down" class="buttons" value="down" onClick="calc('down')"/></td>
      <td><input type="button" name="right" class="buttons" value="right" onClick="calc('right')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="size" class="buttons" value="size" onClick="calc('size')"/></td>
      <td><input type="button" name="first" class="buttons" value="first" onClick="calc('first')"/></td>
      <td><input type="button" name="last" class="buttons" value="last" onClick="calc('last')"/></td>
      <td><input type="button" name="initial" class="buttons" value="initial" onClick="calc('initial')"/></td>
      <td><input type="button" name="rest" class="buttons" value="rest" onClick="calc('rest')"/></td>
    </tr>
    <tr>
      <td><input type="button" name="sort" class="buttons" value="sort" onClick="calc('sort')"/></td>
      <td><input type="button" name="union" class="buttons" value="union" onClick="calc('union')"/></td>
      <td><input type="button" name="intersec" class="buttons" value="intersec" onClick="calc('intersection')"/></td>
      <td><input type="button" name="diff" class="buttons" value="diff" onClick="calc('difference')"/></td>
      <td><input type="button" name="filter" class="buttons" value="filter" onClick="calc('filter')"/></td>
    </tr>
  </table>
	<table>
		<tr>
      <td width="204"><input type="button" name="enter" class="buttons" value="enter" onClick="calc('enter')"/></td>
			<td width="100"><input type="button" name="uniq" class="buttons" value="uniq" onClick="calc('uniq')"/></td>
      <td width="100"><input type="button" name="pluck" class="buttons" value="pluck" onClick="calc('pluck')"/></td>
      <td width="100"><input type="button" name="function" class="buttons" value="function" onClick="calc('function')"/></td>
		</tr>
  </table>
  <table>
    <tr>
      <td width="100"><input type="button" class="buttons" name="[ ]" value="[ ]" onClick="add('[]')"/></td>
      <td width="100"><input type="button" class="buttons" name="7" value="7" onClick="add('7')"/></td>
      <td width="100"><input type="button" class="buttons" name="8" value="8" onClick="add('8')"/></td>
      <td width="100"><input type="button" class="buttons" name="9" value="9" onClick="add('9')"/></td>
      <td width="100"><input type="button" class="buttons" name="/" value="/" onClick="calc('divide')"/></td>
    </tr>
    <tr>
      <td><input type="button" class="buttons" name="" value="" onClick="add('')"/></td>
      <td><input type="button" class="buttons" name="4" value="4" onClick="add('4')"/></td>
      <td><input type="button" class="buttons" name="5" value="5" onClick="add('5')"/></td>
      <td><input type="button" class="buttons" name="6" value="6" onClick="add('6')"/></td>
      <td><input type="button" class="buttons" name="*" value="*" onClick="calc('multiply')"/></td>
    </tr>
    <tr>
      <td><input type="button" class="buttons" name="" value="" onClick="add('')"/></td>
      <td><input type="button" class="buttons" name="1" value="1" onClick="add('1')"/></td>
      <td><input type="button" class="buttons" name="2" value="2" onClick="add('2')"/></td>
      <td><input type="button" class="buttons" name="3" value="3" onClick="add('3')"/></td>
      <td><input type="button" class="buttons" name="-" value="-" onClick="calc('subtract')"/></td>
    </tr>
    <tr>
      <td><input type="button" class="buttons" name="" value="" onClick="add('')"/></td>
      <td><input type="button" class="buttons" name="0" value="0" onClick="add('0')"/></td>
      <td><input type="button" class="buttons" name="." value="." onClick="add('.')"/></td>
      <td><input type="button" class="buttons" name="," value="," onClick="add(',')"/></td>
      <td><input type="button" class="buttons" name="+" value="+" onClick="calc('add')"/></td>
    </tr>
	</table>
  </td></tr>
  </table>
</form>

<script>
display();


function display() {
	var calculator = JSON.parse('{{{ data }}}');

  if (calculator.requestInProgress) {
    if (calculator.getResponseCount >= 30) {
      document.getElementById("input").value = "recall failed";
    } else {
      document.getElementById("input").value = "loading...";
      setTimeout(function () {
        var newpage = "/underscore-calculator/getresponse/default";
        window.location.assign(newpage);
      }, 1000);
    }
  } else {
    var registers = calculator.registers;

    for (var i = 0; i < registers.length; i += 1) {
      for (j = 0; j < 1; j += 1) {
          document.getElementById("register-" + i).value = "";
      }
    }

    for (var i = 0; i < registers.length; i += 1) {
      document.getElementById("register-" + i).value = registers[i];
    }

    if (calculator.recording.on) {
      document.getElementById("record").value = "record *";
    }
  }

}

function calc(operation) {
    var newpage = "/underscore-calculator/calculate/" + operation + "?input=" + document.getElementById("input").value;
    window.location.assign(newpage);
}

function calcstore(operation) {
    var input = document.getElementById("input").value;
    if (input == "") {
      input = "default";
    }

    var newpage = "/underscore-calculator/" + operation + "/" + input;
    window.location.assign(newpage);
}

function calcrecord(operation) {
    var input = document.getElementById("input").value;
    if (input == "") {
      input = "default";
    }

    var newpage = "/underscore-calculator/" + operation + "/" + input;
    window.location.assign(newpage);
}


function add(value) {
  if (value == '[]') {
    document.getElementById("input").value = '[ ' + document.getElementById("input").value + ' ]';
  } else if (value == '{}') {
    document.getElementById("input").value = '{ ' + document.getElementById("input").value + ' }';
  } else {
    document.getElementById("input").value += value;
  }
}

</script>
