<form id="f" onload="myFunction()">
  <br/>
  <table>
  <tr>
  <td><input id="register-3" disabled="true" value=""/></td>
  </tr>
  <tr>
  <td><input id="register-2" disabled="true" value=""/></td>
  </tr>
  <tr>
  <td><input id="register-1" disabled="true" value=""/></td>
  </tr>
  <tr>
  <td><input id="register-0" disabled="true" value=""/></td>
  </tr>
  <tr>
  <td><input id="input" value=""/></td>
  </tr>
  </table>
  <br/>
	<table>
		<tr>
      <td>
        <input type="button" name="enter" value="enter" onClick="calc('enter')"/>
      </td>
			<td>
				<input type="button" name="uniq" value="uniq" onClick="calc('uniq')"/>
			</td>
		</tr>
	</table>

</form>

<script>
display();


function display() {
	var registers = JSON.parse('{{{ data }}}');

	for (var i = 0; i < registers.length-2; i += 1) {
		for (j = 0; j < 1; j += 1) {
		  	document.getElementById("register-" + i).value = "";
		}
	}

	for (var i = 0; i < registers.length-2; i += 1) {
		var j = 0;
		for (var key in registers[i]) {
		  	document.getElementById("register-" + i).value = registers[i][key];
		  	j += 1;
		  	if (j == 1) {
		  		break;
		  	}
		}
	}
}

function calc(operation) {
    var newpage = "/calculate/" + operation;
    window.location.assign(newpage);
}

function add() {
    var newpage = "/add";
    window.location.assign(newpage);
}

</script>
