<html>
<head>
<style media="screen" type="text/css">
.buttons {
	width:100%; 
	font-size: 12px;
	height: 40px; 
	color: black
}
.registers {
	width:100%; 
	text-align:right;
	font-size: 12px;
	height: 40px; 
	color: black
}
</style>
</head>
<body>

   {{{ body }}}

</body>
</html>
