<html>
<head>
<style media="screen" type="text/css">
.buttons {
	width:100%; 
	font-size: 12px;
	height: 40px; 
	color: white;
	background-color:gray;
	border-radius:8px;
	border-bottom:black 2px solid;
	border-right:black 2px solid;
	border-top:2px gray solid;
	border-left:2px gray solid;
}
.buttonsgray1 {
	width:100%; 
	font-size: 12px;
	height: 40px; 
	color: white;
	background-color:#646060;
	border-radius:8px;
	border-bottom:black 2px solid;
	border-right:black 2px solid;
	border-top:2px gray solid;
	border-left:2px gray solid;
}
.buttonsgray2 {
	width:100%; 
	font-size: 12px;
	height: 40px; 
	color: white;
	background-color:#4E4848;
	border-radius:8px;
	border-bottom:black 2px solid;
	border-right:black 2px solid;
	border-top:2px gray solid;
	border-left:2px gray solid;
}
.registers {
	width:100%; 
	text-align:right;
	font-size: 12px;
	height: 40px; 
	color: black
}
.inputregister {
	width:100%; 
	font-size: 12px;
	height: 40px; 
	border-radius:8px;
}
.calculator
{
background-color:#95B9C7;
border-radius:10px;
position:relative;
top:2%;
left:2%;
width:96%;
color: white;
} 
</style>
</head>
<body>

   {{{ body }}}

</body>
</html>
